// VARIABLES
// ---------

@heading-ff:	"Lucida Grande", Lucida, Verdana, sans-serif;
@body-ff:		"Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Colors:
@text-color: 	#444444;
@link-color:	#2a85e8;
@bg-color:		#f6f6f6;
@white:			#ffffff;

@text-color-light:	lighten(@text-color, 25%);
@link-color-light:	lighten(@link-color, 10%);
@bg-color-light:	lighten(@bg-color, 10%);

@text-color-dark:	darken(@text-color, 10%);
@link-color-dark:	darken(@link-color, 10%);
@bg-color-dark:		darken(@bg-color, 15%);

// Gradient colors:
@dark-blue:		#1aaffc;
@blue:			#00a6fc;
@light-blue:	#0072c9;

@dark-gray:		#e6e6e6;
@light-gray:	#cccccc;

// Typography:
@baseline: 6px;